.classes-bar {
    max-height: 500px;
    overflow-y: scroll;
}

.class-item {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.class-item:hover {
    background-color: rgb(204, 204, 204);
}

.class-item img {
    width: 50px;
}

.class-item span {
    font-size: larger;
}