.classes-bar {
    max-height: 500px;
    overflow-y: scroll;
}

.class-item {
    background-color: #f6f7f9;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.class-item:hover {
    background-color: #ebebeb;
}

.class-item img {
    width: 50px;
}

.class-item span {
    font-size: larger;
}